# java stuff
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# idea stuff
.idea
*.iml

# maven stuff
target
target-grunt

# grunt stuff
.tscache
node_modules

# generated javascript
src/main/resources/META-INF/public-web-resources/js/app

